@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@page {
  size: A4 landscape;
}

body {
  background: rgb(204, 204, 204);
}

page[size="A4"] {
  background: white;
  height: 21cm;
  width: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

@media print {
  body,
  page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }

  * {
    box-shadow: 0 !important;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  font-family: "Roboto", sans-serif;
  -webkit-print-color-adjust: exact;
}

* {
  box-sizing: border-box;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  /* width: 1169px;
  height: 826px; */
  padding: 10mm;
  /* columns: 1;
  padding-right: 336px; */
  /* padding-right: 130mm; */
  /* padding-right: 180mm; */
  /* border: 1px solid black; */
}

main > * {
  /* -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  margin-bottom: 10px; */
  /* width: 100mm; */
}

.box {
  width: 350px;
  margin-bottom: 20px;
  margin-right: 20px;
}

code {
  white-space: break-spaces !important;
}

/* box */
.box {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2.5mm;
  overflow: hidden;
}

.box pre {
  margin: 0 !important;
}

.box__title {
  /* border-bottom: 1px dotted black; */
  font-size: 12px;
  padding: 1.8mm;
  text-align: center;
  font-style: italic;
  /* font-weight: 600; */
}

/* canvas */
.canvas {
  position: absolute;
  top: 10mm;
  right: 10mm;
  width: 100mm;
  height: 100mm;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}

.canvas .legend {
  position: absolute;
  letter-spacing: 0.1mm;
  font-size: 3mm;
  margin-top: 3px;
  margin-left: 3px;
}

.legend-center {
  left: 50%;
  top: 50%;
}

.legend-topleft {
  top: 3px;
  left: 3px;
}

.legend-topright {
  top: 3px;
  right: 3px;
}

.legend-bottomright {
  bottom: 3px;
  right: 3px;
}

.legend-bottomleft {
  bottom: 3px;
  left: 3px;
}

.canvas__layer-x {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.canvas__layer-x span {
  height: 100%;
  border-left: 1px dotted black;
  opacity: 0.5;
}

.canvas__layer-x span:nth-child(1),
.canvas__layer-x span:nth-child(21) {
  opacity: 0;
}

.canvas__layer-x span:nth-child(11) {
  opacity: 1;
  border-left: 1px solid black;
}

.canvas__layer-y {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.canvas__layer-y span {
  width: 100%;
  border-top: 1px dotted black;
  opacity: 0.5;
}

.canvas__layer-y span:nth-child(1),
.canvas__layer-y span:nth-child(21) {
  opacity: 0;
}

.canvas__layer-y span:nth-child(11) {
  opacity: 1;
  border-top: 1px solid black;
}

.canvas__pixels {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.canvas__pixels .horizontal,
.canvas__pixels .vertical {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.canvas__pixels .vertical {
  flex-direction: column;
}

.canvas__pixels .horizontal span {
  opacity: 1;
  border-left: 1px solid rgba(255, 0, 0, 0.1);
}

.canvas__pixels .horizontal span:first-child,
.canvas__pixels .horizontal span:last-child {
  opacity: 0;
}

.canvas__pixels .vertical span {
  opacity: 1;
  border-top: 1px solid rgba(255, 0, 0, 0.1);
}

.canvas__pixels .vertical span:first-child,
.canvas__pixels .vertical span:last-child {
  opacity: 0;
}

.canvas__frame {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.title {
  position: absolute;
  bottom: 3mm;
  right: 3mm;
  display: inline;
  width: auto;
  margin: 0;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-size: 8px;
}
