html,
body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

* {
  box-sizing: border-box;
}

main {
  width: 297mm;
  height: 210mm;
  border: 1px solid black;
  padding: 4mm;
  display: flex;
}

/* left */

.left {
  display: flex;
  flex-direction: column;
}

.left .box + .box {
  margin-top: 5mm;
}

/* right */

.right {
  flex: 1;
  margin-left: 10mm;
}

/* box */
.box {
  border: 1px solid black;
  border-radius: 2.5mm;
}

.box__title {
  border-bottom: 1px dotted black;
  font-size: 12px;
  padding: 2mm;
  font-weight: 600;
}

/* canvas */
.canvas {
  position: relative;
  width: 120mm;
  height: 120mm;
  border: 1px solid black;
}

.canvas__layer-x {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.canvas__layer-x span {
  height: 100%;
  border-left: 1px dotted black;
}

.canvas__layer-y {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.canvas__layer-y span {
  width: 100%;
  border-top: 1px dotted black;
}

/* bottom-right */
.bottom-right {
  display: flex;
  margin-top: 10px;
}
